button{
    width: 3rem;
    height: 1.5rem;
}


.filterSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding:0 6rem;
    /* margin: 15px 0; */
}
.searchBar .searchInput input{
    height: 3rem;
    width: 14rem;
    border-radius: 10px;
    font-size: 25px;
    padding: 0 15px;
    background-color: #ffffff;
}
.filterSection .selectRegion select{
    height: 3rem;
    width: 14rem;
    font-size: 25px;
    border-radius: 10px;
    padding: 0 15px;
    background-color: #ffffff;
}

@media screen and (max-width: 480px) {
    .filterSection{
        padding:0 2rem;
    }
    .filterSection .selectRegion select{
        height: 1.5rem;
        width: 6rem;
        font-size: 15px;
    padding: 0 10px;
    }
    .searchBar .searchInput input{
        height: 1.5rem;
        width: 8rem;
        border-radius: 10px;
    font-size: 15px;
    padding: 0 10px;
    background-color: #ffffff;
    }

  }

#region{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
   width: auto;
    padding:0 4rem ;
}

.regionCard{
    margin: 15px 0;
    height: 30rem;
    border: 1px solid black;
    border-radius:5px ;
}
.regionCard img{
    width: 22rem;
    height:12rem;
}

.countryDetails {
    text-align: left;
    padding: 0 2rem;

    
}